.header {
    grid-area: h;
    background-color: #272d4e;
}
.header img{
    width: 70px;
    height: 70px;
    margin-left: 10px;
}

.loginBlock{
    float: right;
}
.loginBlock a{
    color: white;
}