.nav{
    grid-area: n;
    background: linear-gradient(#3A0064, darkslateblue);
    border-radius: 8px;
}
.item{
    color: white;
    font-size: 20px;
    padding: 5px;
    margin-left: 10px;
    text-decoration: none;
}
.nav_section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
}

.item {
    border-radius: 8px;
    padding: 4px 12px;
    font-size: 24px;
    line-height: 1.2;
    color: #fff;
&:hover {
     background-color: #7536b4;
     color: #fff;
     box-shadow: #520099 0 0 15px;
 }
}

.item.active {
    color: gold;
}

.item.activeFriends {
    color: chartreuse;
}

@media (pointer: fine) {
    .nav {
        background: linear-gradient(#3A0064, darkslateblue, transparent, transparent);
        border-radius: 8px;
    }

    .nav_section {
        flex-direction: column;
    }

    .item {
        text-align: center;
        display: inline-block;
        padding: 7px 12px;
    }
}