.app-wrapper {
    display: grid;
    grid-template-areas:
            'h h'
            'n c';
    grid-template-rows: 80px 1fr;
    grid-template-columns: 1fr 7fr;
    grid-gap: 5px;
    margin: 0 auto;

    max-height: 100vh;
    min-height: 100vh;
    height: 100%;
    overflow-y: hidden;
    max-width: 1170px;
    width: 100%;

}
.container {

}
.app-wrapper-content {
    grid-area: c;
    background-color: cornflowerblue;
    overflow: auto;
    border-radius: 8px;
}